<!-- Team content -->
<section class="section container content">
  <div class="columns is-centered">
    <div class="column is-12 is-10-desktop">
      <h2 class="has-text-centered">The team</h2>

      <p class="is-lead">
        Who is team Audune? We're an independent game studio based in the Netherlands. Meet us here!
      </p>

      <div class="fixed-grid has-2-cols has-3-cols-desktop mt-6">
        <div class="grid is-gap-6">
          <div class="cell">
            <figure class="image is-192x192 is-centered mb-4">
              <img class="is-rounded" src="/assets/images/contact/avatar_danae_dekker.png" alt="Danae Dekker">
            </figure>

            <p class="is-lead has-text-centered mb-2">
              <a href="https://danae.link">Danae Dekker</a>
            </p>

            <p class="has-text-centered">
              Creative Director<br>
              Developer<br>
              Audio Designer
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Contributors content -->
<section class="section container content">
  <div class="columns is-centered">
    <div class="column is-12 is-10-desktop">
      <h2 class="has-text-centered">Collaborators</h2>

      <p class="is-lead">
        There are also awesome folks that we love to work with, but are not a part of our team permanently. Please go check out their work and portfolios below!
      </p>

      <div class="fixed-grid has-2-cols has-3-cols-desktop mt-6">
        <div class="grid is-gap-6">
          <div class="cell">
            <figure class="image is-192x192 is-centered mb-4">
              <img class="is-rounded" src="/assets/images/contact/avatar_luna_van_egdom.png" alt="Luna van Egdom">
            </figure>

            <p class="is-lead has-text-centered mb-2">
              <a href="https://runicpixels.carrd.co/">Luna "RunicPixels" van Egdom</a>
            </p>

            <p class="has-text-centered">
              Pixel & Tech Artist
            </p>
          </div>

          <div class="cell">
            <figure class="image is-192x192 is-centered mb-4">
              <img class="is-rounded" src="/assets/images/contact/avatar_flashkirby.png" alt="Flashkirby">
            </figure>

            <p class="is-lead has-text-centered mb-2">
              <a href="http://blog.flashkirby.com/">Flashkirby</a>
            </p>

            <p class="has-text-centered">
              Developer<br>
            Quality Assurance
            </p>
          </div>

          <div class="cell">
            <figure class="image is-192x192 is-centered mb-4">
              <img class="is-rounded" src="/assets/images/contact/avatar_maricu_mana.png" alt="Maricu Mana">
            </figure>

            <p class="is-lead has-text-centered mb-2">
              <a href="https://linktr.ee/maricu">Maricu Mana</a>
            </p>

            <p class="has-text-centered">
              Environment & Character Artist
            </p>
          </div>

          <div class="cell">
            <figure class="image is-192x192 is-centered mb-4">
              <img class="is-rounded" src="/assets/images/contact/avatar_leader_looi.png" alt="Leader Looi">
            </figure>

            <p class="is-lead has-text-centered mb-2">
              <a href="https://leaderlooi.com/">Leader Looi</a>
            </p>

            <p class="has-text-centered">
              Voice Actor
            </p>
          </div>

          <div class="cell">
            <figure class="image is-192x192 is-centered mb-4">
              <img class="is-rounded" src="/assets/images/contact/avatar_jessica_spencer.png" alt="Jessica Spencer">
            </figure>

            <p class="is-lead has-text-centered mb-2">
              <a href="https://jessicaspencer.work/">Jessica Spencer</a>
            </p>

            <p class="has-text-centered">
              Voice Actor
            </p>
          </div>

          <div class="cell">
            <figure class="image is-192x192 is-centered mb-4">
              <img class="is-rounded" src="/assets/images/contact/avatar_katherine_tole.png" alt="Katherine Tole">
            </figure>

            <p class="is-lead has-text-centered mb-2">
              <a href="https://katherinetole.com/">Katherine Tole</a>
            </p>

            <p class="has-text-centered">
              Voice Actor
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Contact content -->
<section class="section container content">
  <div class="columns is-centered">
    <div class="column is-12 is-10-desktop">
      <h2 class="has-text-centered">Contact us</h2>

      <p class="is-lead">
        If you wish to contact Audune Games, please <a data-mailto="aW5mb0BhdWR1bmUuY29t">send us an email</a> or reach out to us on any of the listed socials, and we'll answer you as soon as possible! If you have any questions about or need support for one of our games or products, please <a data-mailto="c3VwcG9ydEBhdWR1bmUuY29t">contact support</a>.
      </p>

      <p class="is-lead">
        You can also hop by at the <a href="https://discord.gg/2bbEpTkPDG">Audune Community</a>, our public Discord server, where we'll be happy to chat with you or give you support for our games.
      </p>

      <div class="grid mt-6">
        <div class="cell is-contact-cell">
          <a href="https://store.steampowered.com/developer/audune">
            <p class="icon is-contact-icon">
              <i class="fa-brands fa-steam fa-4x"></i>
            </p>

            <p class="mb-0">games at</p>
            <p class="is-lead">Steam</p>
          </a>
        </div>

        <div class="cell is-contact-cell">
          <a href="https://audune.itch.io/">
            <p class="icon is-contact-icon">
              <i class="fa-brands fa-itch-io fa-4x" data-fa-transform="shrink-7" data-fa-mask="fa-solid fa-circle"></i>
            </p>

            <p class="mb-0">games at</p>
            <p class="is-lead">Itch.io</p>
          </a>
        </div>

        <div class="cell is-contact-cell">
          <a href="https://bsky.app/profile/audune.com">
            <p class="icon is-contact-icon">
              <i class="fa-brands fa-bluesky fa-4x" data-fa-transform="shrink-8 down-0.25" data-fa-mask="fa-solid fa-circle"></i>
            </p>

            <p class="mb-0">posts at</p>
            <p class="is-lead">Bluesky</p>
          </a>
        </div>

        <div class="cell is-contact-cell">
          <a href="https://discord.gg/2bbEpTkPDG">
            <p class="icon is-contact-icon">
              <i class="fa-brands fa-discord fa-4x" data-fa-transform="shrink-7" data-fa-mask="fa-solid fa-circle"></i>
            </p>

            <p class="mb-0">community at</p>
            <p class="is-lead">Discord</p>
          </a>
        </div>

        <div class="cell is-contact-cell">
          <a href="https://youtube.com/@audunegames">
            <p class="icon is-contact-icon">
              <i class="fa-brands fa-youtube fa-4x" data-fa-transform="shrink-7.5" data-fa-mask="fa-solid fa-circle"></i>
            </p>

            <p class="mb-0">videos at</p>
            <p class="is-lead">YouTube</p>
          </a>
        </div>

        <div class="cell is-contact-cell">
          <a href="https://github.com/audunegames">
            <p class="icon is-contact-icon">
              <i class="fa-brands fa-github fa-4x"></i>
            </p>

            <p class="mb-0">code at</p>
            <p class="is-lead">GitHub</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>