<!-- Our games content -->
<section class="section container content">
  <div class="columns is-centered">
    <div class="column is-12 is-10-desktop">
      <h2 class="has-text-centered">Our games</h2>

      <div class="fixed-grid has-2-cols has-3-cols-tablet">
        <div class="grid">
          <div class="cell card has-background-primary-95">
            <div class="card-image">
              <a href="/games/wesley-smiths-repair-game" data-navigo>
                <figure class="image">
                  <img src="/assets/images/games/wesley-smiths-repair-game-main-capsule.png" alt="Wesley Smith's Repair Game">
                </figure>
              </a>
            </div>

            <div class="card-content">
              <p class="title is-5 mb-0">Wesley Smith's Repair Game</p>

              <p class="subtitle is-6 mb-2">
                <span class=" icon-text">
                  <span>Multiplayer arcade game &middot; 2025</span>
                  <span class="icon">
                    <i class="fa-brands fa-windows"></i>
                  </span>
                </span>
              </p>

              <p>
                <span class="icon-text">
                  <a class="icon is-medium" href="https://store.steampowered.com/app/2480840/Wesley_Smiths_Repair_Game/">
                    <i class="fa-brands fa-steam fa-2x"></i>
                  </a>

                  <a class="icon is-medium" href="https://audune.itch.io/repairgame">
                    <i class="fa-brands fa-itch-io fa-2x" data-fa-transform="shrink-7" data-fa-mask="fa-solid fa-circle"></i>
                  </a>
                </span>
              </p>
            </div>
          </div>

          <div class="cell card has-background-primary-95">
            <div class="card-image">
              <a href="/games/invisible-wings" data-navigo>
                <figure class="image">
                  <img src="/assets/images/games/invisible-wings-main-capsule.png" alt="Invisible Wings: Chapter One">
                </figure>
              </a>
            </div>

            <div class="card-content">
              <p class="title is-5 mb-0">Invisible Wings: Chapter One</p>
              
              <p class="subtitle is-6 mb-2">
                <span class=" icon-text">
                  <span>Visual novel &middot; 2021</span>
                  <span class="icon">
                    <i class="fa-brands fa-windows"></i>
                  </span>
                </span>
              </p>

              <p>
                <span class="icon-text">
                  <a class="icon is-medium" href="https://store.steampowered.com/app/1419380/Invisible_Wings_Chapter_One/">
                    <i class="fa-brands fa-steam fa-2x"></i>
                  </a>

                  <a class="icon is-medium" href="https://audune.itch.io/invisiblewings">
                    <i class="fa-brands fa-itch-io fa-2x" data-fa-transform="shrink-7" data-fa-mask="fa-solid fa-circle"></i>
                  </a>

                  <a class="icon is-medium" href="https://open.spotify.com/album/34l0R4F0FA8WE91f0RuUDV?si=a10cbcfc04e7456a">
                    <i class="fa-brands fa-spotify fa-2x"></i>
                  </a>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Game jams content -->
<section class="section container content">
  <div class="columns is-centered">
    <div class="column is-12 is-10-desktop">
      <h2 class="has-text-centered">Game jam entries</h2>

      <div class="fixed-grid has-2-cols has-3-cols-tablet">
        <div class="grid">
          <div class="cell card has-background-primary-95">
            <div class="card-image">
              <a href="https://audune.itch.io/cmyktd">
                <figure class="image has-ratio">
                  <img src="/assets/images/games/cmyktd-capsule.png" alt="CMYKTD">
                </figure>
              </a>
            </div>

            <div class="card-content">
              <p class="title is-5 mb-0">CMYKTD</p>

              <p class="subtitle is-6 mb-2">
                <span class=" icon-text">
                  <span>1-2-3-Scope Game Jam &middot; 2025</span>
                  <span class="icon">
                    <i class="fa-solid fa-window-restore"></i>
                  </span>
                </span>
              </p>

              <p class="mb-0">
                <a class="icon is-medium" href="https://audune.itch.io/cmyktd">
                  <i class="fa-brands fa-itch-io fa-2x" data-fa-transform="shrink-7" data-fa-mask="fa-solid fa-circle"></i>
                </a>

                <a class="icon is-medium" href="https://itch.io/jam/123scope-jam/rate/3508593">
                  <i class="fa-solid fa-trophy fa-2x" data-fa-transform="shrink-8" data-fa-mask="fa-solid fa-circle"></i>
                </a>
              </p>
            </div>
          </div>

          <div class="cell card has-background-primary-95">
            <div class="card-image">
              <a href="https://runicpixels.itch.io/chrono-glitch">
                <figure class="image has-ratio">
                  <img src="/assets/images/games/chrono-glitch-capsule.png" alt="chrono_glitch">
                </figure>
              </a>
            </div>

            <div class="card-content">
              <p class="title is-5 mb-0">chrono_glitch</p>

              <p class="subtitle is-6 mb-2">
                <span class=" icon-text">
                  <span>Brackey's Game Jam &middot; 2025</span>
                  <span class="icon">
                    <i class="fa-brands fa-windows"></i>
                  </span>
                </span>
              </p>

              <p class="mb-0">
                <a class="icon is-medium" href="https://runicpixels.itch.io/chrono-glitch">
                  <i class="fa-brands fa-itch-io fa-2x" data-fa-transform="shrink-7" data-fa-mask="fa-solid fa-circle"></i>
                </a>

                <a class="icon is-medium" href="https://itch.io/jam/brackeys-13/rate/3347631">
                  <i class="fa-solid fa-trophy fa-2x" data-fa-transform="shrink-8" data-fa-mask="fa-solid fa-circle"></i>
                </a>
              </p>
            </div>
          </div>

          <div class="cell card has-background-primary-95">
            <div class="card-image">
              <a href="https://runicpixels.itch.io/ludum-dare-55">
                <figure class="image has-ratio">
                  <img src="/assets/images/games/bean-and-brew-capsule.png" alt="Bean and Brew">
                </figure>
              </a>
            </div>

            <div class="card-content">
              <p class="title is-5 mb-0">Bean and Brew</p>

              <p class="subtitle is-6 mb-2">
                <span class=" icon-text">
                  <span>Ludum Dare 55 &middot; 2024</span>
                  <span class="icon">
                    <i class="fa-solid fa-window-restore"></i>
                  </span>
                </span>
              </p>

              <p class="mb-0">
                <a class="icon is-medium" href="https://runicpixels.itch.io/ludum-dare-55">
                  <i class="fa-brands fa-itch-io fa-2x" data-fa-transform="shrink-7" data-fa-mask="fa-solid fa-circle"></i>
                </a>

                <a class="icon is-medium" href="https://ldjam.com/events/ludum-dare/55/bean-and-brew">
                  <i class="fa-solid fa-trophy fa-2x" data-fa-transform="shrink-8" data-fa-mask="fa-solid fa-circle"></i>
                </a>
              </p>
            </div>
          </div>

          <div class="cell card has-background-primary-95">
            <div class="card-image">
              <a href="https://runicpixels.itch.io/roots-of-skye">
                <figure class="image has-ratio">
                  <img src="/assets/images/games/roots-of-skye-capsule.png" alt="Roots of Skye">
                </figure>
              </a>
            </div>

            <div class="card-content">
              <p class="title is-5 mb-0">Roots of Skye</p>

              <p class="subtitle is-6 mb-2">
                <span class=" icon-text">
                  <span>Global Game Jam 2023 &middot; 2023</span>
                  <span class="icon">
                    <i class="fa-solid fa-window-restore"></i>
                  </span>
                </span>
              </p>

              <p class="mb-0">
                <a class="icon is-medium" href="https://runicpixels.itch.io/roots-of-skye">
                  <i class="fa-brands fa-itch-io fa-2x" data-fa-transform="shrink-7" data-fa-mask="fa-solid fa-circle"></i>
                </a>

                <a class="icon is-medium" href="https://itch.io/jam/game-dev-london-ggj23-community-showcase/rate/1911039">
                  <i class="fa-solid fa-trophy fa-2x" data-fa-transform="shrink-8" data-fa-mask="fa-solid fa-circle"></i>
                </a>
              </p>
            </div>
          </div>

          <div class="cell card has-background-primary-95">
            <div class="card-image">
              <a href="https://arzi.itch.io/ld52">
                <figure class="image has-ratio">
                  <img src="/assets/images/games/warden-of-the-woods-capsule.png" alt="Warden of the Woods">
                </figure>
              </a>
            </div>

            <div class="card-content">
              <p class="title is-5 mb-0">Warden of the Woods</p>

              <p class="subtitle is-6 mb-2">
                <span class=" icon-text">
                  <span>Ludum Dare 52 &middot; 2023</span>
                  <span class="icon">
                    <i class="fa-solid fa-window-restore"></i>
                  </span>
                </span>
              </p>

              <p class="mb-0">
                <a class="icon is-medium" href="https://arzi.itch.io/ld52">
                  <i class="fa-brands fa-itch-io fa-2x" data-fa-transform="shrink-7" data-fa-mask="fa-solid fa-circle"></i>
                </a>

                <a class="icon is-medium" href="https://ldjam.com/events/ludum-dare/52/warden-of-the-woods">
                  <i class="fa-solid fa-trophy fa-2x" data-fa-transform="shrink-8" data-fa-mask="fa-solid fa-circle"></i>
                </a>
              </p>
            </div>
          </div>

          <div class="cell card has-background-primary-95">
            <div class="card-image">
              <a href="https://arzi.itch.io/ld50">
                <figure class="image has-ratio">
                  <img class="has-ratio" src="/assets/images/games/sakura-shrine-capsule.png" alt="Sakura Shrine">
                </figure>
              </a>
            </div>

            <div class="card-content">
              <p class="title is-5 mb-0">Sakura Shrine</p>

              <p class="subtitle is-6 mb-2">
                <span class=" icon-text">
                  <span>Ludum Dare 50 &middot; 2022</span>
                  <span class="icon">
                    <i class="fa-solid fa-window-restore"></i>
                  </span>
                </span>
              </p>

              <p class="mb-0">
                <a class="icon is-medium" href="https://arzi.itch.io/ld50">
                  <i class="fa-brands fa-itch-io fa-2x" data-fa-transform="shrink-7" data-fa-mask="fa-solid fa-circle"></i>
                </a>

                <a class="icon is-medium" href="https://ldjam.com/events/ludum-dare/50/sakura-shrine">
                  <i class="fa-solid fa-trophy fa-2x" data-fa-transform="shrink-8" data-fa-mask="fa-solid fa-circle"></i>
                </a>
              </p>
            </div>
          </div>

          <div class="cell card has-background-primary-95">
            <div class="card-image">
              <a href="https://runicpixels.itch.io/cathens">
                <figure class="image has-ratio">
                  <img src="/assets/images/games/cathens-capsule.png" alt="Cathens">
                </figure>
              </a>
            </div>

            <div class="card-content">
              <p class="title is-5 mb-0">Cathens</p>

              <p class="subtitle is-6 mb-2">
                <span class=" icon-text">
                  <span>Global Game Jam &middot; 2022</span>
                  <span class="icon">
                    <i class="fa-brands fa-windows"></i>
                  </span>
                </span>
              </p>

              <p class="mb-0">
                <a class="icon is-medium" href="https://runicpixels.itch.io/cathens">
                  <i class="fa-brands fa-itch-io fa-2x" data-fa-transform="shrink-7" data-fa-mask="fa-solid fa-circle"></i>
                </a>

                <a class="icon is-medium" href="https://itch.io/jam/global-game-jam-nl-2022/rate/1376496">
                  <i class="fa-solid fa-trophy fa-2x" data-fa-transform="shrink-8" data-fa-mask="fa-solid fa-circle"></i>
                </a>
              </p>
            </div>
          </div>

          <div class="cell card has-background-primary-95">
            <div class="card-image">
              <a href="https://coolcast.itch.io/fairy-lost">
                <figure class="image has-ratio">
                  <img src="/assets/images/games/fairy-lost-capsule.png" alt="Fairy Lost">
                </figure>
              </a>
            </div>

            <div class="card-content">
              <p class="title is-5 mb-0">Fairy Lost</p>

              <p class="subtitle is-6 mb-2">
                <span class=" icon-text">
                  <span>Global Game Jam  &middot; 2021</span>
                  <span class="icon">
                    <i class="fa-brands fa-windows"></i>
                  </span>
                </span>
              </p>

              <p class="mb-0">
                <a class="icon is-medium" href="https://coolcast.itch.io/fairy-lost">
                  <i class="fa-brands fa-itch-io fa-2x" data-fa-transform="shrink-7" data-fa-mask="fa-solid fa-circle"></i>
                </a>

                <a class="icon is-medium" href="https://itch.io/jam/global-game-jam-nl-2021/rate/902457">
                  <i class="fa-solid fa-trophy fa-2x" data-fa-transform="shrink-8" data-fa-mask="fa-solid fa-circle"></i>
                </a>
              </p>
            </div>
          </div>

          <div class="cell card has-background-primary-95">
            <div class="card-image">
              <a href="https://arzi.itch.io/hoperemember">
                <figure class="image has-ratio">
                  <img src="/assets/images/games/hope-remember-capsule.png" alt="Hope/Remember">
                </figure>
              </a>
            </div>

            <div class="card-content">
              <p class="title is-5 mb-0">Hope/Remember</p>

              <p class="subtitle is-6 mb-2">
                <span class=" icon-text">
                  <span>Ludum Dare 47 &middot; 2020</span>
                  <span class="icon">
                    <i class="fa-solid fa-window-restore"></i>
                  </span>
                </span>
              </p>

              <p class="mb-0">
                <a class="icon is-medium" href="https://arzi.itch.io/hoperemember">
                  <i class="fa-brands fa-itch-io fa-2x" data-fa-transform="shrink-7" data-fa-mask="fa-solid fa-circle"></i>
                </a>

                <a class="icon is-medium" href="https://ldjam.com/events/ludum-dare/47/hoperemember">
                  <i class="fa-solid fa-trophy fa-2x" data-fa-transform="shrink-8" data-fa-mask="fa-solid fa-circle"></i>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>