// Import variables and fonts
@import 'variables';
@import 'bulma';

// Footer styling
.footer {
  @extend .py-5;
  @extend .has-background-light;
}

// Content styling
.content {
  // Heading styling
  @for $i from 1 through 6
  {
    h#{$i} {
      @extend .is-family-secondary;
      @extend .has-text-weight-normal;

      @if $i <= 2 {
        @extend .has-text-primary;
      }
    }
  }

  // Link styling
  a:not(.button) {
    color: $link;
    border-bottom: 1px $link dotted;

    &:hover {
      color: $link-dark;
      border-bottom-color: $link-dark;
    }

    // Links in the footer have no border
    .footer > & {
      border-bottom: none;
    }
  }

  // List styling
  ul {
    @extend .mx-0;
    @extend .my-0;
  }

  // Buttom styling
  .button {
    @extend .is-rounded;

    &.is-fullwidth {
      justify-content: flex-start;
    }
  }
}

// Card styling
.card {
  @extend .is-shadowless;
  @extend .has-background-primary-light;
}

// Navbar styling
.navbar {
  @extend .is-family-secondary;

  // Centered navbar start
  .navbar-start {
    margin-left: auto;
    margin-right: auto;
  }

  // Navbar burger
  .navbar-burger {
    @extend .has-text-light;
  }

  // Navbar link
  a.navbar-item {
    @extend .is-uppercase;
    @extend .has-text-light;
    @extend .has-text-weight-light;

    letter-spacing: 0.1rem;

    &:hover, &:active {
      @extend .has-text-link-light;
      @extend .has-background-black;
    }
  }

  // Navbar menu
  .navbar-menu {
    @extend .has-background-dark;
  }
}

// Lead paragraph
.is-lead {
  @extend .is-size-5;
  @extend .is-family-secondary;
}

// Header image modifier
.is-header-image {
  margin-left: auto;
  margin-right: auto;
}

// Background image modifier
.has-background-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
