// Import frameworks
@use 'fontawesome';
@use 'bulma';


// Navbar styling
.navbar {
  font-family: var(--bulma-family-secondary);

  // Centered navbar start
  .navbar-brand, .navbar-start, .navbar-end {
    // Navbar link
    & > .navbar-item, & > .navbar-item > .navbar-link {
      text-transform: uppercase;
      letter-spacing: 0.1rem;

      // Hovered navbar link
      &:hover, &:active {
        color: var(--bulma-link);
      }
    }
  }
}

// Header styling
.header {
  // Hero styling
  &.hero {
    background-color: var(--bulma-dark);
    background-size: cover;
    background-position: center;
  }
}

// Content styling
.content {
  // Heading styling
  @for $i from 1 through 6
  {
    h#{$i} {
      font-family: var(--bulma-family-secondary);
      font-weight: var(--bulma-weight-normal);

      @if $i <= 2 {
        color: var(--bulma-primary-bold);
      }
    }
  }

  // Link styling
  a:not(.button) {
    color: var(--bulma-link);
    border-bottom: 1px var(--bulma-link) dotted;

    transition: 0.1s ease-in-out;

    &:active {
      color: var(--bulma-link-dark);
      border-bottom-color: var(--bulma-link-bold);
    }

    &:hover {
      color: var(--bulma-link-dark);
      border-bottom-color: var(--bulma-link-bold);
    }

    // Links in the footer have no border
    .footer > & {
      border-bottom: none;
    }

    // Icon links have no border
    &.icon, &:has(.icon), &:has(.tag) {
      border-bottom: none;
    }
  }

  // List styling
  ul {
    margin: 0;
    margin-left: 1rem;
    list-style-type: square;
  }

  // Button styling
  .button {
    border-radius: var(--bulma-radius-rounded);
    padding-inline-start: 1em;

    &.is-fullwidth {
      justify-content: flex-start;
    }
  }

  // Media styling
  .media {
    margin-bottom: 0;
  }

  // Cell styling
  .cell {
    margin-bottom: 0;

    &.is-contact-cell {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;

      text-align: center;
    }
  }
}


// Centered content
.is-centered {
  margin-left: auto;
  margin-right: auto;
}

// Lead text
.is-lead {
  font-family: var(--bulma-family-secondary);
  font-size: var(--bulma-size-5);
}

// Emphasized text
.is-emphasized {
  color: var(--bulma-primary);
  font-weight: bold;
}

// Header image modifier
.is-header-image {
  max-height: 320px;
  margin-left: auto;
  margin-right: auto;
}

// Large header image modifier
.is-header-image-large {
  max-height: 400px;
  margin-left: auto;
  margin-right: auto;
}

// Contact icon
.is-contact-icon {
  width: 4rem;
  height: 4rem;
  margin-bottom: 0 !important;
}

// Background image modifier
.has-background-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


// Invisible Wings specific styling
.invisible-wings {
  // Top hero border modifier
  .has-hero-border-top:before, .has-hero-border:before {
    content: " ";
    display: block;
    width: 100%;
    height: 30px;

    background-image: url('/assets/images/games/invisible-wings/hero-border-top.png');
    background-position: center;
  }

  // Bottom hero border modifier
  .has-hero-border-bottom:after, .has-hero-border:after {
    content: " ";
    display: block;
    width: 100%;
    height: 30px;

    background-image: url('/assets/images/games/invisible-wings/hero-border-bottom.png');
    background-position: center;
  }
}